src/main/resources/bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/bank"
            xmlns:tns="http://example.com/bank"
            elementFormDefault="qualified">

  <!-- Type de compte -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="owner" type="xsd:string"/>
      <xsd:element name="balance" type="xsd:decimal"/>
      <xsd:element name="currency" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- GetAccount -->
  <xsd:element name="GetAccountRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="accountId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetAccountResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="account" type="tns:AccountType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Deposit -->
  <xsd:element name="DepositRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="accountId" type="xsd:string"/>
        <xsd:element name="amount" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DepositResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="newBalance" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Withdraw -->
  <xsd:element name="WithdrawRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="accountId" type="xsd:string"/>
        <xsd:element name="amount" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="WithdrawResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="newBalance" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Transfer -->
  <xsd:element name="TransferRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fromAccountId" type="xsd:string"/>
        <xsd:element name="toAccountId" type="xsd:string"/>
        <xsd:element name="amount" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="TransferResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="fromNewBalance" type="xsd:decimal"/>
        <xsd:element name="toNewBalance" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
